<h1>Editing Company Value</h1>

<%= render 'form', company_value: @company_value %>

<%= link_to 'Show', admins_company_value_path(@company_value) %> |
<%= link_to 'Back', admins_company_values_path %>
