<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company_value.title %>
</p>



<%= link_to 'Edit', edit_admins_company_value_path(@company_value) %> |
<%= link_to 'Back', admins_company_values_path %>
