<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>Your reward is ready for pick-up!</h1>
    <p>
      You can pick-up reward <%= @order.reward.title %> here:

      Address:
      Street 11
      00-999 City

      Opening Hours:
      Mon. 8 a.m.-9 p.m.
      Tues. 8 a.m. – 9 p.m.
      Wed. 8 a.m. – 9 p.m.
      Thurs. 8 a.m. – 9 p.m.
      Frid. 8 a.m. – 9 p.m.
      Sat. 8 a.m. – 6 p.m.
      Sun. 11 a.m. – 7 p.m.

      <br>
    </p>
    <p>Thanks for your job!</p>
  </body>
</html>
