<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Your reward was delivered!</h1>
    <p>
      Your reward <%= @order.reward.title %> was succesfully delivered.
      <% if @order.reward.online? %>
        Your code  <%= @order.online_code.code %> 
      <% end %>
      <br>
    </p>
    <p>Thanks for your job!</p>
  </body>
</html>
