<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @employee.email %>
</p>

<%= link_to 'Edit', edit_admins_employee_path(@employee) %> |
<%= link_to 'Back', admins_employees_path %>
