<h1>Editing Reward</h1>

<%= render 'form', reward: @reward %>

<%= link_to 'Remove category', remove_category_admins_reward_path(@reward), method: :patch, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Show', admins_reward_path(@reward) %> |
<%= link_to 'Back', admins_rewards_path %>
