<p>
  <strong>Title:</strong>
  <%= @reward.title %>
</p>
<p>
  <% if @reward.reward_photo.present? %>
      <strong>Photo:</strong></br>
      <%= image_tag @reward.reward_photo %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admins_reward_path(@reward) %> |
<%= link_to 'Back', admins_rewards_path %>
